html, body {
  margin: 0px;
  padding: 0px;
}

.tracked-item, .tracked-item-root {
  height: 100px;
  background-color: #EEE;
  margin: 0;
  padding: 0;
  width: 150px;
}

.tracked-item:nth-child(even), .tracked-item-root:nth-child(even) {
  background-color: #DDD;
}

.fake-phone {
  width: 300px;
  height: 450px;
  background: #eee;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
nav {
  width: 100%;
  background-color: #ddd;
  text-align: center;
}
#conversations {
  overflow-x: scroll;
  flex: 1;
}
.compose {
  background-color: #e6e6e6;
  padding: 10px 20px;
}
.compose textarea {
  width: 100%;
  height: 100px;
}
#app {
   float: left;
 }
#root {
  top: 100px;
  left: 200px;
  height: 250px;
  width: 150px;
  overflow-y: scroll;
  position: absolute;
} 